# Node.js dependencies
node_modules/

# Build output
dist/

# Vite cache
.vite/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

# Optional: lock files (jeśli chcesz je śledzić, usuń)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
